body {
    background: whitesmoke;
    color: black;
    text-align: center;
  }

img {
  border-radius: 10px;
}
  
  table {
    width: 100%;
    background: wheat;
    border: 1px solid;
    border-collapse: collapse;
   
  }

  th {
    background-color: hsl(11, 61%, 70%);
  }

  td {
    background-color: wheat;
    padding: 1rem;
  }

  tr:nth-last-of-type(2n) {
    background-color: hsl(11, 61%, 46%);;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .column {
    flex: 0 0 33.33%; /* Three equal-width columns */
    max-width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .hide{
    display: none;
  }
  
  .drop-targets{
    border: 1px solid;
  }
  
  .box{
    border: 1px solid;
  }
  
  .drag-over{
    border: dashed 3px red;
  }

a{
    color: red;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  
  
